body {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    /*background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);*/
    /*background: url(../images/bg-02.jpg) repeat-x;*/
    padding: 10px 10px 800px 10px;
}

.q-pa-md{
  padding: 10px!important;
}
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }


.line-height-1-i { line-height: 1 !important; }


.border-style-double { border-style: double; }


.width-112 { width: 112px; }
.width-250 { width: 250px; }


.bold { font-weight: bold; }


.font-size-12 { font-size: 12px; }
.font-size-17-i { font-size: 17px; }
.font-size-25 { font-size: 25px; }
.font-size-50 { font-size: 50px; }


.color-inherit-i { color: inherit !important; }


.padding-bottom-30-i { padding-bottom: 30px !important; }


.margin-left-auto {
    margin-left: auto;
}
.margin-left-10 {
    margin-left: 10px;
}

.margin-right-auto {
    margin-right: auto;
}
.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-0-i {
    margin-bottom: 0px !important;
}
.screen {
  width: 800px !important;
  height: 440px !important;
}
.error {
  border: 1px solid red!important;
}
.content {
  width: 800px !important;
  height: 440px !important;
}
.keyboard-container {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.overflowscroll {
  overflow-y: scroll!important;
}
.invalidemail {
  display: block;
  margin: 0;
  background-color: red;
  color: #FFF;
  text-align: center;
  /* width: 96%;
  float: left;
  height: 20px; */
  position: relative;
  bottom: -5px;
}
.q-pa-md {
  position: relative;
  height: 440px;
  width: 800px;
}

.q-pa-md .nav-bar {
  position: absolute;
  bottom: 10px;
  left:0;
  right: 0;
}
.error-text {
  line-height: 1;
}
.dns .inputbox {
  width: 100%;
  resize: none;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  border-radius: 15px;
  padding: 1px 0.5em;
  border-color: black;
  margin-bottom: 0;
}
.socket {
  margin: auto;
}


.about .left-label {
  text-align: right;
}
.about .row-column {
  display: block;
  text-align: center;
}

.AlarmLog .fixed-padding {
  padding: 0;
}
.AlarmLog .q-pa-md {
  padding: 0;
}
.AlarmLog .alram-content {
  border-top: solid;
  display: block;
}

.AlarmLog p {
  padding-left: 10px;
}
.AlarmLog .screen-row {
  margin: 5px 0;
}

.Alarms .fixed-padding {
  padding: 0;
}
.Alarms .q-pa-md {
  padding: 0;
}
.Alarms .alram-content {
  border-top: solid;
  display: block;
}

.Alarms p {
  padding-left: 10px;
}
.Alarms .screen-row {
  margin: 5px 0;
}

.AlarmSetup .fixed-padding {
  padding: 0;
}
.AlarmSetup .q-pa-md {
  padding: 0;
}
.AlarmSetup .alram-content {
  border-top: solid;
  padding-top: 0.5em !important;
}

.AlarmSetup p {
  padding-left: 10px;
}
.AlarmSetup .screen-row {
  margin: 5px 0;
  padding: 0 0.5em;
}
.AlarmSetup .checkboxes {
  height: 30px;
}
.AlarmSetup .inputbox {
  width: 100%;
  resize: none;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  border-radius: 15px;
  padding: 1px 0.5em;
  border-color: black;
}
.AlarmSetup .inputbox:focus {
  outline: none;
}

.AllMcPercentage .alarm {
  line-height: 0;
  position: absolute;
}

.AllSensorVoltage .alarm {
  line-height: 0;
  position: absolute;
}



.MainMenu .content-row {
  height: 60px;
}
.MainMenu .menu-button {
  width: 70%;
  margin: 0 0.4em 0 0.4em;
}
.MainMenu .left-menu-button {
  text-align: right;
}

.Password .align-center {
  text-align: center;
}
.Password .content-row {
  height: 60px;
}
.Password .inputbox {
  width: 100%;
  resize: none;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  border-radius: 15px;
  padding: 1px 0.5em;
  border-color: black;
}
.Password .inputbox:focus {
  outline: none;
}

.TouchInput .available_area {
  padding: 20px;
  width: 100%;
  height: 210px;
  max-height: 210px;
  background-color: #FFF;
  font-size: 24px;
}
.TouchInput .error {
  color: red;
  border-top: solid;
}
.TouchInput .inputbox {
  width: 100%;
  resize: none;
  box-shadow: none;
  box-sizing: border-box;
  /* background: transparent; */
}
.TouchInput .inputbox:focus {
  outline: none;
}


.text-content {
  padding-top:10px;
  border-top: 5px solid #000;
  margin-left: -16px;
  margin-right: -16px;
}

.closeKeyboard {
  background-color:#FFF;
  color: #000;
  width:4%;
  height:25px;
  display:block;
  text-align: center;
  float: right;
  cursor: pointer;
  position: relative;
  bottom: -5px;
}
